:root{
    --dark-blue: #003366;
    --white: #f5f5f5;
    --blue: #0492c2;
    --gray: #3a3b3c;
}

.button{
    background-color: var(--darkblue);
    color: var(--white)
}

custom button:hover {
    background-color: var(--blue);
    color: var(--white);
}

body{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-size: 2rem;
    margin-bottom: 15px;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

